html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Open Sans", sans-serif;
}

a {
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}
a:hover{
	color:#101F3E;
}
#home-body-container{
	background: url("img/endockscope-dark-edit.png") no-repeat;
	position: absolute;
	background-size: cover;
	margin: 0 0 0 0;
	display: block;
	width: 100%;
}
.header{
	background-color: #d8d8d8;
	border: 2px ridge #0054A6;
	border-radius: 3px;
	position: fixed;
	width: 100%;
	z-index: 10;
}

#navbar {
	background-color: none;
	float: right;
	list-style-type: none;
	margin: 1.5% 0 0 0;
	padding: 0 0 0 0;
	width: 60%;
	height: 2em;
}
#navbar a {
	letter-spacing: -1px;
	margin: 0 .28% 0 .28%;
	padding: 0 0 0 0;
	border: 0px solid #101F3E;
	float: left;
	font-weight: bold;
	font-size: 1.45em;
	text-align: center;
	display: block;
	width: 19.1%;
	height: 100%;
	color: #101F3E;
	text-decoration: none;
	-webkit-transition: color .2s;
	-moz-transition: color .2s;
	-o-transition: color .2s;
	transition: color .2s;
}
#navbar a:hover{
	color: white;
}
.homeblock{
	font-size: 2em;
	float: left;
	width: 40%;
	margin: 40% 0 0 1%;
	background-color: white;
	opacity: .8;
	padding: 0 0 0 1%;
	clear:both;
	color: #101F3E;
}
.scroller{
	position: absolute;
	margin: 51% 1% 0 93%;
	display: block;
	border-radius: 5px;
	border: 1px solid white;
	width: 5em;
	height: 5em;
}
.scroller:hover{
	background-color: #3F4B64;
}
.fa{
	margin: 0 0 0 19%;
	color: white;
	font-size: 5em;
}
.homescroll{
	clear: both;
	padding: 1.9% 0 0 0;
	margin: 0 0 0 0;
	width: 100%;
	height: 300px;
	background-color: #d8d8d8;
	opacity: .8;
	background-clip: content-box;
}
.homescrollbubble{
	color: #101F3E;
	text-align: center;
	font-size: 1.2em;
	float: left;
	display: block;
	width: 22%;
	margin: 1% .3% .3% .3%;
	padding: .3% 5% 0 5%;
}
.footer{
	display: none;
	background-color: transparent;
	color: #C5DADD;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}
.article-container{
	background-color: white;
	opacity: .8;
	margin: 10% 0 0 5%;
	position: absolute;
}
#device-body-container{
	background: url("img/endockscope-dark-edit.png") no-repeat;
	position: absolute;
	background-size: cover;
	margin: 0 0 0 0;
	display: block;
	width: 100%;
}

/*#C5DADD lightblue*/